@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.locationMain{
    display: flex;
    margin-top: 5px;
    width: 700px;
    background-color: #01579b;
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}

.inputField input{
    background-color: #424242;
    padding-left: 5px;
    padding-right: 5px;
}

.list{
    background-color: transparent;
    overflow: hidden;
    width: 250px;
    max-width: 350px;
    padding: 0;
}

.list li{
    margin-bottom: 2px;
    color: transparent;
    background-color: transparent;
    border: 0;
}

.listDiv{
    justify-self: start;
}

